##.DS_Store
**/.DS_Store


##sfdx
.sfdx/

##agentforce rules
.a4drules/
force-app/main/default/lwc/jsconfig.json
.sf/config.json

##Demo recordings
demo/UC2_EmployeeSchedulingAgent/v0.0.4/Property_Showing_Event_Remap.mov